.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    height: 60px;
    flex-shrink: 0;
}

.header-left, .header-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.search-nav {
    display: flex;
    align-items: center;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 5px 10px;
    background-color: #f1f3f4;
    width: 350px;
}

.search-nav svg {
    color: #000;
}

.search-nav .icon {
    color: #999;
}

.search-nav input {
    border: none;
    background: none;
    outline: none;
    padding: 0 10px;
    flex-grow: 1;
    font-size: 0.9rem;
    color: #000;
}

.search-nav input::placeholder {
    color: #999;
}

.search-secondary-btn {
    background-color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    padding: 3px 6px;
    line-height: 1;
    margin-left: 10px;
    color: #000;
}

.search-secondary-btn .icon-link {
    color: #1a73e8; 
    font-size: 1rem;
}

.profile-details-group {
    display: flex;
    align-items: center;
    gap: 8px;
}

.user-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 1.2;
}

.user-name {
    font-weight: 600;
    font-size: 0.85rem;
    color: #333;
}

.user-email {
    font-size: 0.7rem;
    color: #777;
    font-weight: 400;
}

.user-dropdown-btn {
    background: #f1f3f4; 
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    margin-right: 10px;
    color: #000;
}

.user-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #ccc; 
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}

.credit-action-group {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 15px; 
    border-left: 1px solid #eee;
}

.user-credit {
    display: flex;
    flex-direction: column;
    text-align: right;
    line-height: 1.2;
}

.credit-label {
    font-weight: 400;
    font-size: 0.75rem;
    color: #777;
}

.credit-value {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}

.topup-btn {
    background-color: #F37732; 
    color: white;
    border: none;
    height: 35px;
    width: 64px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.8rem;
}
